<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="QA Automation Suite" parallel="false">
    <test name="UI Tests">
        <classes>
            <class name="tests.ui.LoginTests"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="tests.api.SampleApiTests"/>
        </classes>
    </test>
</suite>
